<h4>Formularios <small> Reactive </small></h4>
<hr>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" 
                       type="text" 
                       placeholder="Nombre" 
                       formControlName="nombre"
                       [class.is-invalid]="nameNotValid">
                       <small *ngIf="nameNotValid" class="text-danger">You need to insert 5 letters</small>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" 
                       type="text" 
                       placeholder="Apellido" 
                       formControlName="apellido"
                       [class.is-invalid]="nameNotValid">
                       <small *ngIf="surnameNotValid" class="text-danger">You need to insert a surname</small>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" 
                   type="email" 
                   placeholder="Correo electrónico" 
                   formControlName="correo"
                   [class.is-invalid]="emailNotValid">
                   <small *ngIf="emailNotValid" class="text-danger">Email not valid</small>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col">

            <input class="form-control" 
                   type="text" 
                   placeholder="Nombre de usuario" 
                   formControlName="usuario"
                   [class.is-invalid]="userNotValid">
                   <small *ngIf="userNotValid" class="text-danger">User not valid</small>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">
            <input class="form-control" 
                   type="password" 
                   placeholder="Contraseña" 
                   formControlName="pass1"
                   [class.is-invalid]="pass1NotValid">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-2 col-form-label">Repita Contraseña</label>
        <div class="col">
            <input class="form-control" 
                   type="password" 
                   placeholder="Repita Contraseña" 
                   formControlName="pass2"
                   [class.is-invalid]="pass2NotValid">
        </div>
    </div>
    <br>
    <div class="form-group row" formGroupName="direccion">
        <label class="col-2 col-form-label">Direccion</label>
        <div class="form-row col">
            <div class="col">
                <input type="text"
                       class="form-control"
                       placeholder="Distrito"
                       formControlName="distrito"
                       [class.is-invalid]="distritNotValid">

            </div>
            <br>
            <div class="col">
                <input type="text"
                       class="form-control"
                       placeholder="Ciudad"
                       formControlName="ciudad"
                       [class.is-invalid]="cityNotValid">

            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody formArrayName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <input class="form-control"
                                   type="text"
                                   [formControlName]="i">
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                    (click)="deletePasatiempo(i)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary mt-3 ,b-5 btn-block"
                    type="button"
                    (click)="addPasatiempo()">+ Agregar</button>
        </div>
    </div>

    <br>
    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>
</form>

<hr>
<pre>
    Estado del formulario: {{form.valid}}
    <br>
    Status: {{form.status}}
</pre>
<pre>
    {{form.value | json}}
</pre>